# Домашняя работа №1

## Задача 1

Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

## Задача 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [27]:
def calc_fruit(**kwargs):
    
    tot_fr = sum(kwargs.values())
    return f'Total {tot_fr}'

In [28]:
print(calc_fruit(banana=5, apple=7))

Total 12

## Задача 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [32]:
cost = [100, 125, -90, 345, 655, -1, 0, 200]
price = [i if i > 0 else 0 for i in cost]
price

[100, 125, 0, 345, 655, 0, 0, 200]

In [33]:
def dict_pur(*args: int) -> dict:
    return {'sum': sum(args)}
dict_pur(*price)

{'sum': 1425}

## Задача 4
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [53]:
my_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
my_sum =  [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [54]:
def novem(date1:list, my_sum1:list) -> list:
    
    new_mon = []
    
    for i in range(len(date1)-1):
        if '-11-' in date1[i]:
            new_mon.append(my_sum1[i])
            
    return new_mon

In [60]:
print(f'Profit month: {sum(novem(my_date, my_sum))}')
# print(f'Profit: {sum(novem(my_date, my_sum))})

Profit month: 25098

In [76]:
print([my_sum[i] for i in range(0, len(my_date) - 1) if '-11-' in my_date[i]])
print(f'Profit: {sum(my_sum[i] for i in range(0, len(my_date) - 1) if "-11-" in my_date[i])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Profit: 25098

In [61]:
def dict_com(k: list, v: list) -> dict:
    new_dict = {k[i]: v[i] for i in range (len(k))}
    return new_dict

In [62]:
val = dict_com(my_date, my_sum)
val

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [78]:
my_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
my_sum =  [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [85]:
def Tot_cost(date_mon:list, cost:list) -> dict:
    Tot_cost = {}
    
    for i in range(len(date_mon)):
        
        if my_date[i].split('-')[1] in Tot_cost.keys():
            Tot_cost[my_date[i].split('-')[1]] += my_sum[i]
        else:
            Tot_cost[my_date[i].split('-')[1]] = my_sum[i]
            
    return Tot_cost
    
print(Tot_cost(my_date, my_sum))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}